<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div>
    <form action="/addLogin">
        <input type="text" id="username" name="username" placeholder="用户名。。。">
        <input type="password" id="password" name="password" placeholder="密码。。。">
        <input type="text" id="userPhone" name="userPhone" placeholder="手机号。。。">
        <input type="submit" class="button" value="登录">
    </form>
    <h2 th:text="${msg}"></h2>
</div>
</body>
</html>